# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# Environments
.env
*.env
.venv/
venv/
env/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Byte-compiled
*.egg
*.egg-info/
.eggs/

# Node (if you use React/JS in frontend)
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Docker
Dockerfile.*
docker-compose.yml
.dockerignore

# OS
.DS_Store
Thumbs.db

# Tests & Coverage
htmlcov/
.coverage
.tox/
.pytest_cache/
